*.egg-info/
*.pyc
*.sublime-project
*.sublime-workspace
.cache/
.coverage
.data/
.DS_Store
.env
.idea/
.project
.pycharm-venv
.pydevproject
.pytest_cache/
.settings/
.venv/
.vscode/
__pycache__/
build/
dist/
dump.rdb
statictemp/
TODO
TODO.md
